body{
    width: 95wh;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
   
}